<h1><%= @task.title %></h1>
<p>Created: <%= @task.created_at %></p>
<p>Description: <%= @task.description %></p>
<p>Before: <%= @task.end_date %></p>
<br>

<p><%= link_to "Back to To-Do list", tasks_path %></p>
